::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
    padding: 0px !important;
    width: 400px !important;
}

::ng-deep .mat-form-field-wrapper { 
    padding-bottom: 0px !important;
}

::ng-deep .mat-form-field-underline {
    position: absolute !important;
    bottom: -2px !important;
}

.input-container {
    margin-left: 10px;
}

.input-field {
    margin-left: 10px;
}

.edit-record {
    margin-left: 10px;
}